fastapi
python-multipart
uvicorn[standard]
pipecat-ai[google,silero,websocket,cartesia,rnnoise]
loguru
python-dotenv
redis
aiortc
google-cloud-texttospeech
google-cloud-speech
google-cloud-storage
google-generativeai
cartesia
